.nav {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  list-style: none;
  padding: 0;

  &__item {

    &__link {
      color: $color-darkblue;
      display: block;
      font-size: $font-small;
      font-weight: $font-bold;
      padding: 4px 14px;
      position: relative;
      text-decoration: none;
      transition: color .2s linear;
    }
  }
}
