@import 'color-definitions';
@import 'mixins';

// Default Colors
$color-text-default: map-get($u-color-red, 'base');
$color-title-default: map-get($u-color-red, 'base');
$color-border-default: map-get($u-color-red, 'base');

// Other
$border-radius-default : 2px;
$border-radius-card    : 2px;
$border-radius-inputs  : 2px;
$border-radius-buttons : 2px;

// Typography
$font-family-base    : 'Raleway', sans-serif;
$font-family-default : 'Open Sans', sans-serif;

// Font Size
$font-xx-small: 10px;
$font-x-small: 12px;
$font-small: 14px;
$font-medium: 16px;
$font-large: 20px;
$font-x-large: 28px;
$font-xx-large: 36px;
$font-xxx-large: 42px;

// Font Weight
$font-thin: 300;
$font-light: 400;
$font-normal: 500;
$font-bold: 600;
$font-extra-bold: 900;

$grid: 100%;
$columns: 12;
$gutter: 15px;

$class-row: 'row';
$class-cell: 'cell';
$class-off: 'off';

// Breakpoints
$min-device : 280px;
$mobile : 767px;
$tablet : 992px;
$desktop : 1200px;

$breakpoints: (
  (small, $min-device),
  (medium, $tablet),
  (large, $desktop)
);



$theme-gutter: 20px;
$theme-padding: 20px;

$theme-header-height: 100px;
$theme-footer-height: 100px;

$theme-main-width: 1024px;
$theme-sidenav-width: 100px;
