// Global
@import '../utilities/variables';

// Layout
@import '../layout/header';
@import '../layout/sidenav';
@import '../layout/main';
@import '../layout/footer';

// Components
@import '../components/typography/index';
@import '../components/color/index';
@import '../components/button/index';
@import '../components/grid/index';
@import '../components/menu/index';

html {
  overflow-x: hidden;
  width: 100%;
}

body {
  background-color: $u-color-white;
  display: grid;
  grid-auto-columns: auto;
  grid-column-gap: $theme-gutter;
  // grid-row-gap: $theme-gutter;
  grid-template-areas:
  'sidenav main';
  margin: 0 auto;
  min-height: 100vh;
  width: 100%;
}

#typography {
  margin: 20px 0;
}

#button {
  margin: 20px 0;

  .button {
    margin-right: 10px;
  }
}

#color {
  margin: 20px 0;

  .box {
    margin-bottom: 20px;

    &__item {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 2px 14px;

      .t-upper {
        font-weight: bold;
        text-transform: uppercase;
      }

      p {
        color: $u-color-white;
        text-transform: capitalize;
      }

      span {
        color: $u-color-white;
        text-transform: uppercase;
      }
    }
  }
}
