.header {
  align-items: center;
  background-color: map-get($u-color-green, 'base');
  display: flex;
  grid-area: header;
  height: $theme-header-height;
  justify-content: center;
  text-align: center;
}
