body {
  background-color: $color-white;
  display: grid;
  grid-auto-columns: auto;
  grid-gap: $theme-gutter;
  grid-template-areas:
  'sidenav header header'
  'sidenav main main'
  'sidenav footer footer';
  margin: 0 auto;
  width: 100%;
}

